# Ignore cache and history files
__pycache__/
.history/

# Ignore data folder
data/

# Ignore environment variables
*.env

# Ignore markdown files (used for project planning) except README.md
*.md
!README.md